@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #fff;

    --color-gray-50: oklch(0.984 0.003 247.858);
    --color-gray-100: oklch(0.968 0.007 247.896);
    --color-gray-200: oklch(0.929 0.013 255.508);
    --color-gray-300: oklch(0.869 0.022 252.894);
    --color-gray-400: oklch(0.704 0.04 256.788);
    --color-gray-500: oklch(0.554 0.046 257.417);
    --color-gray-600: oklch(0.446 0.043 257.281);
    --color-gray-700: oklch(0.372 0.044 257.287);
    --color-gray-800: oklch(0.279 0.041 260.031);
    --color-gray-900: oklch(0.208 0.042 265.755);
    --color-gray-950: oklch(0.129 0.042 264.695);

    --color-primary: #204491;
    --color-secondary: #ec6e07;
    --color-muted: #f8f8f8;

    --font-roboto: "Roboto", sans-serif;
}


@layer base {
    * {
        -webkit-font-smoothing: antialiased;
    }

    html {
        @apply scroll-smooth;
        -webkit-text-size-adjust: 100%;
    }
}

@layer components {

    .paragraph,
    p, li {
        @apply text-base lg:text-lg xl:text-xl leading-normal tracking-normal font-normal [-webkit-text-size-adjust:100%] break-words text-gray-600;
    }

    ul, ol {
        @apply space-y-2;
    }

    .btn {
        @apply rounded-md px-3.5 py-2.5 text-sm md:text-base font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2;

        &.primary {
            @apply bg-primary hover:bg-secondary focus-visible:outline-secondary
        }

        &.secondary {
            @apply bg-secondary hover:bg-primary focus-visible:outline-primary
        }
    }
}

@utility container {
    @apply px-2.5 lg:px-0 mx-auto;
}